.bg-gray {
	background-color: rgb(187, 212, 218);
}

.background-image {
	background: rgb(255, 255, 255);
	background: linear-gradient(
		180deg,
		rgba(255, 255, 255, 1) 4%,
		rgba(245, 236, 236, 1) 36%,
		rgba(249, 249, 249, 1) 71%,
		rgba(254, 254, 254, 1) 97%
	);
}

.facebookcolor {
	background-color: #3b5998;
}

.twittercolor {
	background-color: #55acee;
}

.googlecolor {
	background-color: #dd4b39;
}
